body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 225, 225);
}

/*Start of main content section*/
.container{
    display: grid;
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

p{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 40px;
}

.gallery img {
    width: 100%;
}

.logo{
    height: 70px;
    padding: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/*End of main content section*/

/*Start of footer section*/
footer{
    background-color: #14181d;
    color: white;
    text-align: center;
    font-size: 17px;
}

.footer_text{
    padding: 0;
}
/*End of footer section*/

/*Start of media queries section*/

@media (max-width: 1025px){ /*Media query for viewport width of below 1025px*/
    .container{
        width: 100%;
    }
}

@media (max-width: 801px){ /*Media query for viewport width of below 801px*/
    .cover{
        width: 50%;
    }

    .logo{
        height: 50px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 481px){ /*Media query for viewport width of below 481px*/
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/*End of media queries section*/
