body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}

/*Start of navigation bar section*/
.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: #1e90ff;
    color: white;
}

.logo{
    margin-left: 1rem;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: auto 0;
    margin-right: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 17px;
    margin: 0 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}

.search_bar{
    display: flex;
    margin: auto 0;
    height: 50px;
}

.search_bar input{
    border: none;
    outline: none;
    height: 100%;
    padding: 0 15px;
    font-size: 17px;
    width: 300px;
}

.bar{
    position: relative;
    margin: auto;
    display: none;
}

.bar span{
    position: absolute;
    font-size: 20px;
}

input[type="checkbox"]{
    display: none;
}
/*End of navigation bar section*/

/*Start of main content section*/
.container{
    display: grid;
    grid-template-columns: 36% 34%;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
}

p{
    line-height: 1.5;
}

.container2{
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
}

.box1{
    box-shadow: 2px 4px 9px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    align-self: start;
    padding-bottom: 20px;
}

.box2,
.box3,
.box4,
.box5{
    padding: 15px;
    box-shadow: 2px 4px 9px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img{
    width: 100%;
}

.box1 a,
.box2 a,
.box3 a,
.box4 a,
.box5 a{
    background-color: #1E90FF;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-top: 15px;
    padding: 10px;
    float: right;
}

.box1h2{
    padding-left: 15px;
}

.box1p{
    padding-left: 15px;
    padding-right: 15px;
}

.box1 a{
    margin-right: 15px;
}

.box3 a{
    margin-top: 40px;
}

.box4 a{
    margin-top: 35px;
}
/*End of main content section*/

/*Start of footer section*/
footer p{
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 50px;
}
/*End of footer section*/

/*Start of media queries section*/
@media screen and (max-width: 1024px){  /*Media query for responsive navbar*/
    .navbar{
        display: block;
        padding: 0;
    }

    .logo{
        display: inline-block;
        padding: 15px 30px;
        margin-right: 40px; 
    }

    .search_bar{
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
        width: 100%;
    }

    .search_bar input{
        width: 90%;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        transition: 0.4s;
        background-color: #6bb6ff;
        margin: 0;
    }

    .navbar ul li{
        text-align: center;
    }

    .navbar ul li a{
        display: block;
        padding: 10px;
    }

    .bar{
        display: block;
        position: absolute;
        top: 42px;
        right: 40px;
        cursor: pointer;
    }

    .bar #times{
        display: none;
    }

    #check:checked ~ .navbar .bar #times{
        display: block;
    }

    #check:checked ~ .navbar .bar #bars{
        display: none;
    }

    
    #check:checked ~ .navbar ul{
        visibility: visible;
        height: 160px;
    }
}

@media (max-width: 1281px){ /*Media query for viewport width of below 1281px*/
    .container{
        display: grid;
        grid-template-columns: 52% 42%;
    }
    
    .container2{
        display: grid;
        gap: 15px;
        grid-template-columns: auto auto;
    }

    .box3 a{
        margin-top: 65px;
    }

    .box5 a{
        margin-top: 63px;
    }
}

@media (max-width: 1025px){ /*Media query for viewport width of below 1025px*/
    .container{
        display: grid;
        grid-template-columns: 62% 32%;
    }
    
    .container2{
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
    }
}



@media (max-width: 801px){ /*Media query for viewport width of below 801px*/
    .container{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .container2{
        display: grid;
        gap: 15px;
        grid-template-columns: auto auto;
    }

    .box2 a{
        margin-top: 40px;
    }

    .box4 a{
        margin-top: 60px;
    }

}

@media (max-width: 481px){ /*Media query for viewport width of below 481px*/
    .container{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .box1a{
        margin-right: 15px;
    }

    .container2{
        display: flex;
        flex-direction: column;
    }

    .search_bar input{
        width: 80%;
    }
    
}
/*End of media queries section*/